/*
Theme Name: _tk
Theme URI: http://themekraft.com/store/_tk-free-wordpress-starter-theme-based-on-twitter-bootstrap/
Author: ThemeKraft
Author URI: http://themekraft.com/
 */
 

body {
	word-wrap: break-word;
}

body.home .container-fluid {
padding:0;	
}

body.home .row {
margin-left:0;
margin-right:0;	
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* Images and wp-captions should always fit and be responsive */
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
}
.wp-caption.aligncenter {
	margin-bottom: 10px;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption .wp-caption-text {
	text-align: center;
	margin-top: 10px;
}

/* WP Gallery */
.gallery {
	margin-bottom: 1.5em;
}
.gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.gallery dd {
	margin: 0;
}
.gallery-caption {
	display: block;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* Content */
.main-content-inner {
	padding-bottom: 1.5em;
}
.hentry {
	margin: 0 0 1.5em;
}
.sticky {
	display: block;
}
.bypostauthor {
	display: block;
}


/* Clearing */
.clear {
	clear: both;
}

/* Navigation */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
display: block;
}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:active>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/* Here some needed widget styles
 * Most widgets are adapted in the file bootstrap-wp.js - and REALLY easy to modify! ;) */
.widget { margin-bottom: 2em; }
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }

/* Hiding the search widget's button in widgets. thats just too old-skool. :) but if you want it back, just delete the next line.
 * Note: you can change the whole appearance of the search_form() function in our searchform.php */
.widget_search .search-form input[type="submit"] { display: none; }

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Nested comments? They are threaded and nested already, you just need to add your own styling to finalize!
 * For example with some margin, like the line below ;) Delete, modify, change classes in HTML if you desire another style */
 .comment .children { margin-left: 1.5em; }

/**
* Some WP Theme Repository requirements
*/

.sticky {
}

.gallery-caption {

}

.bypostauthor {

}

.entry-meta {
	clear: both;
}






/*  My Styles  */


html {font-size: 16px;line-height:24px;}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.125em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}


/* Header */

#masthead {
background: #292e2e;
z-index: 9999;
width: 100%;
border-bottom: 1px solid #444d4d;
}

#masthead:hover {
background: #171a1a;
}

.site-header {
position: fixed;	

 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;
  
  -webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

#masthead .container-fluid {
padding: 0px 25px 0px 25px;
}

#masthead img {
margin: 0.625rem 0 0.625rem 0;
}

.navbar-default {
background:none;
border: none;
}

.navbar a {
color:#b2b2b2;
text-transform: uppercase;

  -webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover {
color: #fff;

  -webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

.navbar li {
margin-top: 0.188rem;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
background: none;
color: #fff;
}

.navbar {
margin-bottom: 0;
}

.site-header .col-sm-3, header.ha-header-large .col-sm-3 {
width: 20%;

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

.site-header .col-sm-9, header.ha-header-large .col-sm-9 {
width: 80%;

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

.ha-header-small .navbar-nav > li > a {
padding-top:0.625rem;
padding-bottom:0.625rem;	
}

#masthead .navbar-nav {
float: right;
margin:0.938em -15px;
}

#masthead.ha-header-small {

opacity:0.9;	
}

header.ha-header-small {
position:fixed;
top:0;

 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;

-webkit-transition:all 0.3s linear ;
  -moz-transition:all 0.3s linear ;
  -o-transition:all 0.3s linear ;
  transition:all 0.3s linear;
}

header.ha-header-small .col-sm-3 {
width:15%;	

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

header.ha-header-small .col-sm-9 {
width:80%;	

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

header.ha-header-large {
position:fixed;
top:auto;
left:auto;	

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

/* Feature styles */


img.poster, .masthead img {
position: absolute;
top: 0;
left: 0;
width:100%;
height:auto;
}

img.poster {
z-index:777;	
}

.masthead img.wp-post-image {
z-index:555;	
}

.masthead h1.light {
  font-weight: 200;
  font-size: 4.5rem;
  line-height: 5rem;
  width: 90%;
  margin: 2.500rem auto 0.625rem auto;
  text-align: center;
  text-shadow: none;
  position:relative;
  z-index:888;
  color:#fff;
  font-family:'Oswald', sans-serif;
  margin-top:10.00rem;
  text-transform:uppercase;
}

.masthead h1.light strong {
font-weight: 200;
}

.masthead h2 {
margin:0;
font-family:'Open Sans', sans-serif;
margin-top:2rem;
font-size:2.2rem;	
}

#slide1 {
/*background:url('img/feature-bg.png') 50% 0 no-repeat fixed;	
background-size:cover;*/
height:700px;
}

img.bg {
height:43.750rem;
min-width: 100%;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

img.bg-absolute {
position:absolute;
z-index:1;
height:100%;
}

#feature-text {
padding:0;	
}


/* Hexagon Button */

#hexagon {
	position: relative;
	z-index:888;
	display:block;
	margin:3.125rem auto 0 auto;
	width:172px;
}

#hexagon-svg:hover .st0 {
fill:#4ee1dc;
 -webkit-transition:all 0.6s ease-in-out ;
  -moz-transition:all 0.6s ease-in-out ;
  -o-transition:all 0.6s ease-in-out ;
  transition:all 0.6s ease-in-out;
}

#hexagon-svg:hover tspan {
text-decoration:none;
color:#fff;
}

div.line {
position:relative;
z-index:888;
}

#arrow {
width:60px;
display:block;
margin:5.00rem auto 0 auto;	
}

.masthead-about {
position:relative;	
/*background:url('img/about-bg.jpg') 50% 0 no-repeat fixed;	*/
background-size:cover;
height:43.750em;
}

.masthead-services {
position:relative;	
background:url('img/service-bg.jpg') 50% 0 no-repeat fixed;	
background-size:cover;
height:34.375rem;	
}

.masthead-about #arrow {
position:absolute;
z-index:999;	
left:46%;
bottom:6.250rem;
}

div.masthead {
margin:0;
}

.nav > li > a {
font-family:'open sans';	
}


div.recent-work {
padding:0px 0 2.500rem 0;
background:#fff;
}

#recent-text {
margin:0 0 1.875rem 0;
}

div.recent-work h2, div.skills-roundup h2 {
width: 100%;
margin: 7.500rem 0 1.875rem 0;
font-family: 'Lato', sans-serif;
font-weight: 300;
text-align:center;
color:#777777;
}

div.skills-roundup h2 {
margin:3.125rem 0 1.875rem 0;
text-align:left;
padding:0;
}

div.recent-work h2 strong {
color:#000000;	
}

div.recent-work p {
font-family: 'Open Sans', sans-serif;
font-size: 1.125rem;
line-height: 140%;
font-weight:200;
text-align:center;
width:100%;
padding:0 7% 0 7%;
color:#888888;
}

div.skills-roundup p {
font-family: 'Open Sans', sans-serif;
font-size: 1.125rem;
line-height: 140%;
font-weight:200;
}

#recent-work-items {
background:#f3f3f3;
padding:3.125rem 0 3.125rem 0;	
}

a.ghost-button, p.ghost-button {
border:1px solid #000;
color:#000;	
padding:0.313rem 10px 0.313rem 10px;
display:block;
margin:3.125rem auto 0 auto;
width:109px;

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out; 
}


#services .col-sm-3, #about-process .col-sm-3 {
margin:0;
width:25%;
min-height: 18.750em;
position: relative;

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

#services svg {
float:left;
width:50%;
margin:2.500em 25% 2.500rem 25%;	
fill:#ffffff;
}

#about-process .col-sm-3 {
min-height: 330px;  
}


#services .col-sm-3:hover, #about-process .col-sm-3:hover {

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

#services .col-sm-3 .image, #about-process .col-sm-3 .image {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

#services .col-sm-3 h3, #about-process .col-sm-3 h3 {
color: #fff;
width: 100%;
text-align: center;
font-size: 1.125rem;
line-height: 1.500rem;
font-weight: 300;
margin:1.250rem 0 0 0;
}


div.button-container {
width:100%;
float:left;
margin:0 0 1.250rem 0;	
}

.minimal-button {
color: #fff;
border: 1px solid #fff;
padding: 7px 0.750rem 7px 0.750rem;
margin:0px auto 0 auto;
background: none;
display: block;
width: 105px;
position: relative;
z-index: 999;
font-size:0.750rem;

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

#about-process .minimal-button {
margin: 14.375rem auto  0 auto;
}

.minimal-button:hover, .ghost-button:hover {
background: #333;
color: #fff;
text-decoration: none;
 
-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out; 
}

#services .span4, #about-process .span4 {
margin-bottom: 2.500em;
}

#design {
background: #44d2a4;  
}

#design svg, #development svg, #branding svg, #marketing svg {
fill:#ffffff;
}

.page-template-page-services #design svg, .page-template-page-services #development svg, .page-template-page-services #branding svg, .page-template-page-services #marketing svg {
width:50%;
display:block;
margin:0 auto;
}

.page-template-page-services #design, .page-template-page-services #development, .page-template-page-services #branding, .page-template-page-services #marketing {
padding:10% 0 10% 0;
}

.service-container {
padding-bottom:10%;
border-bottom:1px solid #cccccc;	
}

#about-process #design .image {
background: none;
}

#design:hover {
background:#298064;
}

#development {
background: #6fd4b9;
}

#development:hover {
background: #42806f;
}

#development .image {
background: url("img/development.png") no-repeat 50% center;
}

#about-process #development .image {
background: none;
}

#branding {
background:#56bcb5;
}

#branding:hover {
background: #3b807b;
}

#branding .image {
background: url("img/branding.png") no-repeat 50% center;
}

#about-process #branding .image {
background: none;
}

#marketing {
background:#49a4a1;
}

#marketing:hover {
background: #39807d;
}

#marketing .image {
background: url("img/marketing.png") no-repeat 50% center;
}

#about-process #marketing .image {
background: none;
}

#services h2 {
background:#47b6a9;
color:#fff;
width:100%;
text-align:center;
padding:1.875rem 0 1.875rem 0;
font-weight:300;
font-family:'Lato';	
margin:0;
}

#testimonial {
background: url("img/testimonial-bg.jpg") no-repeat 0 0;
padding:4.375rem 2% 4.375rem 2%;
background-size:cover;
width:100%;
margin:0;
}

#testimonial p {
color:#ffffff;
font-family:'open sans';
font-style:italic;
width:100%;
text-align:center;
font-size:1.625rem;
font-weight:200;	
}

#testimonial p.testimonial-name {
font-weight:600;
font-style:normal;
font-size:1.250rem;	
}



/*----- About page ------*/

p.about-intro {
text-align: center;
font-size: 2.00rem;
text-shadow: none;
line-height: 140%;
margin:10.00rem 0 0.938rem 0;
width:100%;
color:#fff;
font-family:'open sans';
}

#about-intro {
position:absolute;
top:7.500rem;
left:0;	
font-weight:200;
}

.row-fluid div.skills h5 {
text-align:left;
text-shadow: none;
margin:0.938rem 0 0.938rem 0;
font-size: 1.250rem;
}

.row-fluid div.skills ul {
margin-left: 0;
}

.row-fluid div.skills ul li {
margin-left: 0;
min-height: 0;
margin-bottom: 0.750em;
}

.row-fluid div.skills ul li p {
margin:0;
text-align: left;
text-shadow: none;
font-size:0.875rem;
min-height: 0;
}

div.skills-roundup ul li span {
background:#97d9d5;
min-height: 15px;
}


div.skills-roundup {
padding: 0 0 0 2%;
}

div.skills-roundup p {
margin: 0 0 2.500rem 0;  
}

div.skills-roundup li p {
margin: 0 0 0.625rem 0;
font-size: 0.875rem;
}

div.skills-roundup .row-fluid li span {
min-height: 10px;
}

.skills-roundup .container-fluid {
padding: 0;
}

div.my-philosophy {
background: #676666;
color: #fff;
padding: 2.500rem 0 2.500rem 0;
}

div.my-philosophy h3 {
text-align: center;
font-family: 'Lato', sans-serif;
font-size: 1.875rem;
line-height: 140%;
margin: 0px 0 1.875rem 0;
}

div.my-philosophy p {
text-align: center;
font-family:'open sans';
line-height:160%;
}

div.my-philosophy .start-your-project {
display: block;
margin: 3.48rem auto 0.625rem auto;
float: none;
}

#social-accounts ul, #social-accounts ul li {
float: left;
margin:0 0.625rem 0 0;
}

#the-man p {
margin: 0 0 1.250rem 0;
}

div.skills-roundup .ghost-button {
margin:1.875rem 0 1.875rem 15px;	
}

.the-man-behind-the-laptop .skills-roundup {
padding:0 15px 0 15px;	
}

.page-template-page-about .container-fluid, .page-template-page-about .container-fluid .row, .page-template-page-services .container-fluid, .page-template-page-services .container-fluid .row, .page-template-page-contact .container-fluid, .page-template-page-contact .container-fluid .row {
padding:0;	
margin-left:0;
margin-right:0;
}

#service-content-container {
margin-left:0;
margin-right:0;
margin-top:2.500rem;	
}

.skills-roundup ul {
list-style:none;	
}

.skills-roundup ul li {
padding:0;	
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 4.375rem 0;
  margin-top: 4.375rem;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 0.625rem 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

.main-footer {
  background-color: #000000;
  width: 100%;
  float: left;
  padding: 0 2% 0 2%;
}

.main-footer h5 {
  font-size:1.750rem;
  text-transform: uppercase;
  font-weight: 800;
  float:left;
  color: #ffffff;
  margin:2.500rem 0 2.500rem 0;
}

.main-footer p.email-info {
  color:#ffffff;
  font-size: 1.00rem;
  font-weight: 400;
  float: left;
  line-height: 1.500rem;
}

.main-footer p.email-info a {
  color:#ffffff;
  font-size: 1.00rem;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
}

.main-footer ul.social {
  width:100%;
  float:left;
  margin: 1.250rem 0 0 0;
  padding:0;
}

.social li {
  float:left;
  width: 17%;
  list-style: none;
  margin:0 0 0.625rem 0;
}

.social li a {
  text-indent: -9999px;
  display:block;
  width:50px;
  height: 44px;
}

.social li.clear-left {
  clear: left;
}

.social li a.last-fm {
  background: url(img/social-sprite.png) no-repeat 0 0;
}

.social li a.last-fm:hover {
  background: url(img/social-sprite.png) no-repeat 0 -103px;
}

.social li a.facebook {
  background: url(img/social-sprite.png) no-repeat -61px 0;
}

.social li a.facebook:hover {
  background: url(img/social-sprite.png) no-repeat -61px -103px;
}

.social li a.linked-in {
  background: url(img/social-sprite.png) no-repeat -121px 0;
}

.social li a.linked-in:hover {
  background: url(img/social-sprite.png) no-repeat -121px -103px;
}

.social li a.stumble-upon {
  background: url(img/social-sprite.png) no-repeat -181px 0;
}

.social li a.stumble-upon:hover {
  background: url(img/social-sprite.png) no-repeat -181px -103px;
}

.social li a.pinterest {
  background: url(img/social-sprite.png) no-repeat 0px -59px;
}

.social li a.pinterest:hover {
  background: url(img/social-sprite.png) no-repeat 0px -162px;
}

.social li a.google-plus {
  background: url(img/social-sprite.png) no-repeat -61px -59px;
}

.social li a.google-plus:hover {
  background: url(img/social-sprite.png) no-repeat -61px -162px;
}

.social li a.twitter {
  background: url(img/social-sprite.png) no-repeat -121px -59px;
}

.social li a.twitter:hover {
  background: url(img/social-sprite.png) no-repeat -121px -162px;
}

.social li a.you-tube {
  background: url(img/social-sprite.png) no-repeat -181px -59px;
}

.social li a.you-tube:hover {
  background: url(img/social-sprite.png) no-repeat -181px -162px;
}

form.newsletter-sign-up {
  margin:1.875rem 0 1.250rem 0;
  float: left;
}

input.newsletter {
  background:#2a2a2a;
  padding:10px;
  border: 1px solid #4f4e4e;
  color: #ffffff;
  font-size: 1.00rem;
}


::-webkit-input-placeholder {
   color: #ffffff;
   font-size: 1.00rem;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
  font-size: 1.00rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;
      font-size: 1.00rem;
}

:-ms-input-placeholder {  
   color: #ffffff;
      font-size: 1.00rem;
}

button.btn {
  color: #000000;
  font-size:1.375rem;
  font-weight: 800;
  height: 43px;
  margin:-9px 0 0 -5px;
  text-transform: uppercase;
  background: #8a8989;
}

a.start-your-project, a.page-buttons {
  background: #e48836;
  color: #ffffff;
  text-transform: uppercase;
  width: 199px;
  float: right;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin:3.438rem 0 0 0;
  -webkit-transition: background 500ms linear;
  -moz-transition: background 500ms linear;
  -ms-transition: background 500ms linear;
  -o-transition: background 500ms linear;
  transition: background 500ms linear;
}

a.page-buttons {
float:left;
margin:3.125rem 0 3.125rem 0;
}

a.start-your-project:hover, a.page-buttons:hover {
  background: #d66908;
  text-decoration: none;
  -webkit-transition: background 500ms linear;
  -moz-transition: background 500ms linear;
  -ms-transition: background 500ms linear;
  -o-transition: background 500ms linear;
  transition: background 500ms linear;
}

.main-footer hr {
  border-color: #4f4e4e;
  margin:1.25rem 0 0.313rem 0;
}

.main-footer .navbar, .main-footer .navbar-inner {
  margin:0 0 0 0px;
  background: none;
  border: none;
}

.main-footer .navbar .nav > li {
  padding: 0;
  display:inline;
  float:left;
}

.main-footer .navbar .nav > li > a {
  padding:10px;
  text-shadow: none;
}

.main-footer .navbar .nav > li > a:hover {
  color:#ffffff;
}

.main-footer .navright {
  float:right;
  margin:0 0px 0 0;
}

.main-footer .navright .nav > li {
  float: right;
}

.main-footer p.copyright {
  margin:0 0 0 0px;
  color:#ffffff;
}

.foot-bottom {
  margin: 0.625rem 0 0 0;
}


.main-footer .row-fluid .foot-cols {
  padding:0 5px 0 5px;
}


/* Work Page */

.text-header {
  background: url(img/text-bg.jpg) no-repeat center 0;
  height: 210px;
  padding:5.000rem 0 0 0;
}

#main-image-single { 
margin:5.00rem 0 0 0;
}

div.text-header h2 {
font-family: 'Lato',sans-serif;
font-weight: 300;
font-size: 2.250rem;
margin: 2.750rem 0 0 0;
}

#portfolio-items, .portfolio-items {
padding: 0;
}

.portfolio-items {
/*padding-left: 20px;
padding-right: 20px;*/
margin-bottom: 1.250rem;
}

#portfolio-items .row, .portfolio-items .row {
margin: 1.250rem 0 0 0;
}


#portfolio-items .row a .hover-box, .portfolio-items .row a .hover-box {
display: none;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0px;
opacity:0;

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}


#portfolio-items .row .col-sm-4, .portfolio-items .row .col-sm-4 {
margin-top:0.938rem;
}

.portfolio-items .row [class*="span"]:first-child {
margin-left: 0;
}

#portfolio-items .row .col-sm-4 img, .portfolio-items .row .col-sm-4 img {
width: 100%;  
}

.masthead h2 {
color:#ffffff;
font-family:'open sans';
width:100%;
text-align:center;	
}

.work-header {
padding:0px 0 0 0;
background:#000;
margin:0;	
}



/*  SERVICES PAGE */

.jumbotron:after, .jumbotron-normal:after, .jumbotron-gallery:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.jpg) no-repeat center 0;
  opacity: 1;
}

body.page-template-page-services .jumbotron:after, body.page-template-page-services .jumbotron-normal:after, body.page-template-page-services .jumbotron-gallery:after {
background: url('../img/service-bg.jpg') no-repeat 0 0;
}

body.page-template-page-services #about-intro {
padding: 0 3% 0 3%;
}

body.page-template-page-services #about-intro h4 {
font-weight: 300;  
color:#fff;
text-align:center;
width:100%;
margin:1.250rem 0 0 0;
}

body.page-template-page-services #about-intro h1.light {
margin: 1.250rem auto 2.500rem auto;
}

body.page-template-page-services div.skills-roundup, body.page-template-page-single-services div.skills-roundup {
padding: 0 2.5% 2.5% 2.5%;
}

body.page-template-page-services .span6 {
width: 50%;
margin: 0;
}

ul.services-list {
padding: 0 0 0 17px;
}

ul.services-list li {
margin: 0 0 0.313rem 0;
color: #44D2A4;
list-style:disc;
}

div.skills-roundup ul.services-list li span {
color: #000;
background: none;
}

body.page-template-page-services div.skills-roundup p {
margin: 0 0 1.250rem 0;
}

.page-template-page-single-services div.single-service-header {
position: relative;
}

.page-template-page-single-services div.single-service-header img {
position: relative;
z-index: -1;
}

.page-template-page-single-services div.single-service-header #about-intro {
position: absolute;
z-index: 1;
top: 0;
left: 0;
padding: 0 2% 0 2%;
}

.page-template-page-single-services div.single-service-header #about-intro h1 {  
width: 100%;  
}

.page-template-page-single-services .skills-roundup .start-your-project {
float:left;
margin: 1.250rem 0 0 0;
}

.service-components {
padding: 3.125rem 0 3.125rem 0;
}

.service-components img {
display: block;
margin: 0 auto;
}

.service-components h3, .service-components p {
color: #fff;
font-weight: 300;
width: 100%;
text-align: center;
font-size: 1.500rem;
margin: 1.25rem 0 1.25rem 0;
line-height: 140%;
}

.service-components p {
font-size: 1.00rem;
width: 100%;
text-align: center;
}

.web-design-components {
background: #44d2a4;
}

.web-dev-components {
background: #6fd4b9;
}

.brand-components {
background: #56bcb5;
}

.marketing-components {
background: #49a4a1;
}

.page-template-page-services .masthead img {
float:left;
position:relative;	
}

.page-template-page-services .masthead .col-sm-3 img {
width:auto;	
float:none;
margin:0 auto;
display:block;
}


.page-template-page-about .row {
margin-left:0;
margin-right:0;
}

.about-page-info-right .col-sm-6 {
padding-right:0;	
}

.the-man-behind-the-laptop .col-sm-6 {
padding-left:0;
}

.the-man-behind-the-laptop .skills-roundup {
padding:0 0.938rem 0px 0.938rem;	
}


.page-template-page-about .my-philosophy {
padding:1.875rem 0 1.875rem 0;	
}

div.skills-roundup li p {
padding-left:0;	
}

div.skills-roundup .ghost-button {
margin:1.875rem 0;	
}

#social-accounts ul {
padding:0;		
}
	

.page-template-page-services div.skills-roundup .ghost-button {
float:left;
}

.page-template-page-services .image {
padding-right:0;
padding-left:0	
}

.page-template-page-services a.start-your-project {
float:left;	
}

div.skills-roundup ul.services-list li span {
color: #000;
background: none;
}

.main-footer .navbar .nav > li > a:hover {
color:#000000;	
}

/*  Portfolio Hover  */

#portfolio-items .row a, .portfolio-items .row a {
display:block;
position:relative;	
}

#portfolio-items .row a:hover .hover-box, .portfolio-items .row a:hover .hover-box {
display:block;
background: url(img/large-hover-bg.jpg) no-repeat center 0;
background-size:cover;
opacity:0.95;

-webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

#portfolio-items .row .hover-box h3, .portfolio-items .row .hover-box h3 {
color:#fff;
font-family:'open sans';
font-size:2.00rem;
font-weight:200;
width:100%;
text-align:center;
margin:10% 0 0 0;
}

.portfolio-items .row .hover-box h3 { 
margin:27% 0 0 0;
font-size:1.625rem;
}


#portfolio-items .row .hover-box .ghost-button, .portfolio-items .row .hover-box .ghost-button {
color:#ffffff;
width:102px;
border:1px solid #ffffff;
}

#portfolio-items .row .hover-box .ghost-button:hover, .portfolio-items .row .hover-box .ghost-button:hover {
background:#e48836;	
}


#portfolio-items .row ul, .portfolio-items .row ul {
margin:1.250rem 0 0px 0;
list-style:none;	
padding:0;
}

#portfolio-items .row ul li, .portfolio-items .row ul li {
text-align:center;
color:#6bd7af;	
padding:0;
font-size:1.375rem;
font-family:'open sans';
}

.portfolio-items .row ul li {
font-size:1.00rem;	
}


body.single-portfolio div.skills-roundup h2 {
font-weight:300;
color:#000000;
font-size:2.375rem;
line-height:3.00rem;
text-align:center;
margin:3.750rem 0 3.750rem 0; 	
}

body.single-portfolio .about-page-info-right .skills-roundup {
padding-top:3.125rem;	
padding-bottom:3.125rem;
}

body.single-portfolio div.skills-roundup p {
float:left;
margin:0 0 1.875rem 7%;
font-size:1.250rem;
width:86%;
}

body.single-portfolio div.skills-roundup h3 {
margin:0em 0 1.3em 7%;
font-family:'Lato';
}

body.single-portfolio div.my-philosophy h3 {
text-align:left;
margin-left:5%;	
}

body.single-portfolio div.my-philosophy p {
font-size:1.1rem;	
font-family: 'Open Sans', sans-serif;
width:90%;
margin-left:5%;
line-height:1.9rem;
text-align:left;
}

body.single-portfolio div.skills-roundup a.start-your-project {
float:left;
margin:1.875rem 0 0 7%;	
}

body.page-template-page-work .container-fluid {
padding:0;	
}

#portfolio-meta, body.single-portfolio div.my-philosophy {
padding:3.125rem 0 3.125rem 0;	
}

#portfolio-meta a.start-your-project {
float:left;
position:relative;
margin:0.625rem 0 0 0;
}

#portfolio-meta a.start-your-project-left {
margin-right:20px;
}

div.button-group, div.button-group-one {
display:block;
margin:0 auto;	
width:420px;
}

div.button-group-one {
width:160px;	
}

body.single-portfolio .container-fluid, body.single-portfolio .container-fluid #carousel-example-generic {
padding:0;
}

body.single-portfolio .row {
margin:0;	
}

#mobile-start-project {
display:none;	
}

.about-page-info-right .col-sm-6, .the-man-behind-the-laptop .col-sm-6 {
background:#fff;	
}

.single-portfolio .about-page-info-right .col-sm-6, .single-portfolio .the-man-behind-the-laptop .col-sm-6 {
background:none;	
}

.about-page-info-right .col-sm-6 span, .the-man-behind-the-laptop .col-sm-6 span {
background:#97d9d5;	
}

#skills-list {
padding:0px 10px 0 0;	
}

#social-accounts {
margin-bottom:30px;
float:left;	
}

#firstImage .wp-post-image {
display:none;
}

#main-image-single {
height:auto;	
}


#service-content-container h2 {
font-size:1.4em;	
}

#service-content-container .ghost-button {
display:inline;
float:left;	
width:auto;
margin:2rem 0 0 0;
}

#service-strip {
padding:40px 0 0px 0;
background:#f3f3f3;
margin:60px 0 40px 0	;
}

#service-strip h3 {
width:100%;
font-size:2.8rem;
text-align:center;	
margin:1rem 0 0.5rem;
color:#555;
}

#service-strip h4 {
width:100%;
text-align:center;
margin:4rem 0 1rem 0;
float:left;
font-weight:300;	
}


#service-strip p {
width:80%;
text-align:center;
margin:40px 0 60px 10%;	
font-size:1.3rem;
line-height:1.9rem;
font-weight:300;
color:#757575;
}

#service-strip ul {
width:100%;
list-style:none;	
}

#service-strip ul li {
float:left;
width:25%;
padding:0 2% 0 2%;	
color:#fff;
}

#service-strip ul li h4 {
font-size:24px;
line-height:30px;	
width:100%;
margin:0;
text-align:center;
}

#service-strip ul li p {
font-size:1rem;	
width:100%;
text-align:center;
margin:1.250rem 0 0 0;
line-height:1.5rem;
color:#fff;
}

#service-strip ul li img {
display:block;
float:none;
margin:0 auto;
width:160px;	
}

.page-template-page-services .web-services, .page-template-page-services .web-dev-services, .page-template-page-services .brand-services, .page-template-page-services .marketing-services {
background:#44d2a4;	
padding:1.875rem 0 3.750rem 0;
float:left;
width:100%;
}

.page-template-page-services .web-dev-services {
background:#6fd4b9;
}

.page-template-page-services .brand-services {
background:#56bcb5;	
}

.page-template-page-services .marketing-services {
background:#49a4a1;
}

.sub-services {
margin:0 0 0 1%;	
width:94%;
}

#servicebanners {
float:left;
width:100%;
}

.recent-service-projects {
margin:1.875rem 0 1.875rem 0;	
}

#service-strip .start-your-project {
display:block;
margin:0 auto;
float:none;
margin:0.625rem auto 3.125rem auto;	
}

#get-in-touch, #get-in-touch-mobile {
padding: 2.500rem 0 1.875rem 0;
margin: 2.500rem 0 1.250rem 0;
}

#get-in-touch #start-project, #get-in-touch-mobile #start-project {
background: #f3f3f3;	
}

#get-in-touch a.home-button, #get-in-touch-mobile a.home-button {
float: none;
margin: 1.563rem auto 0 auto;
width: 62px;
}

form {
margin: 0 auto 1.250rem auto;
width: 80%;
}

label {
color: #555;
font-size: 1.125rem;
font-family:'open sans';
}

label span {
color:#459f9c;	
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background: #f5f5f5;
border: 1px solid #dedede;
margin-bottom: 1.563rem;
border-radius: 0;
width: 96%;
height:35px;
}

input[type="checkbox"] {
background: #f5f5f5;
border: 1px solid #dedede;
width:20px;
height:20px;
float:left;
}

.wpcf7-list-item-label {
margin:0.250rem 0 0 7px;
float:left;	
}

input[type="submit"] {
border: none;
float: right;
margin:0;
font-size: 1.000rem;
}

input[type="submit"]:hover {
background:#56bcb5;
color:#ffffff;

  -webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out;
}

#get-in-touch p, #get-in-touch-mobile p {
color: #555;
text-transform: uppercase;
font-size: 1.500rem;
line-height: 140%;
font-family:"open sans";
}

.page-template-page-contact #get-in-touch p a, .page-template-page-contact #get-in-touch-mobile p a {
color: #459f9c;
}

.page-template-page-contact #get-in-touch p a.email, .page-template-page-contact #get-in-touch-mobile p a.email {
font-size: 1rem;
text-transform: none;
}

iframe {
height: 450px;
}

.page-template-page-contact #main-wrapper {
padding:0;	
}

.page-template-page-contact .masthead-services {
height:350px;	
}

.page-template-page-contact #about-intro {
top:0;	
}

.page-template-page-contact .masthead-services, .page-template-page-project .masthead-services {
background:url('img/contact-bg.jpg') 50% 0 no-repeat fixed;	
}

.form-container {
width:100%;
float:left;
padding:0 2% 0 2%;	
}

.wpcf7-form-control-wrap, .wpcf7-form-control {
width:100%;
float:left;	
}

.wpcf7-form-control {
margin:0.938rem 0 0.938rem 0;
}

.wpcf7-list-item {
float:left;
margin:0 0% 0.625rem 0;
width:50%;	
}

span.wpcf7-list-item {
margin-left:0;
}

#message-box {
height:200px;
float:left;	
}

#social-accounts-contact h3 {
font-family:'open sans';
}

#social-accounts-contact ul {
list-style:none;	
}

#get-in-touch-mobile {
display:none;	
}

footer a {
color:#44d2a4;	
}

footer a:hover {
color:#ffffff;	
}

#project-outcome {
margin:3.125rem 0 0 0;	
}

#project-outcome h3 {
font-family:'Lato';
margin:0 0 1.875rem 5%;	
}

#project-outcome p {
font-family:"Open Sans",sans-serif;
font-size:1.1rem;
line-height:1.9rem;
margin-left:5%;
width:90%;	
}


body.page-id-5 #skills-roundup .row, #the-man, .masthead-about {
margin-left:0;
margin-right:0;	
}

/* TYPEFORM FORM */

#typeform-form {
background:#aaa;	
}

.tint {
position:absolute;width:100%;height:1100px;background:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17d1ac+0,2a6c87+50,3c4e96+100&0.75+0,0.8+100 */

background: -moz-linear-gradient(-45deg,  rgba(23,209,172,0.75) 0%, rgba(42,108,135,0.78) 50%, rgba(60,78,150,0.8) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(-45deg,  rgba(23,209,172,0.75) 0%,rgba(42,108,135,0.78) 50%,rgba(60,78,150,0.8) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(135deg,  rgba(23,209,172,0.75) 0%,rgba(42,108,135,0.78) 50%,rgba(60,78,150,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf17d1ac', endColorstr='#cc3c4e96',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}





/* media query start */


@media (min-width:1921px) {

.main-inner-content {
width:1921px;
margin:0 auto;
display:block;
background:#ffffff;
}

.main-content {
background:#ccc;	
}

img.bg {
position:absolute;	
}

#slide1, .masthead-about {
position:relative;	
overflow:hidden;
z-index:1;
}

footer {
float:left;	
}

#site-wrap {
width:1920px;
margin:0 auto;	
}

div.ip-container {
width:100%;
float:left;	
background:#cccccc;	
}

#masthead {
width:1920px;	
}

.site-header .col-sm-3, header.ha-header-large .col-sm-3 {
padding:15px 8% 15px 0;	
width:19%;
}


header.ha-header-small .col-sm-3 {
padding:15px 8% 15px 0;	
width:17%;
}

header.ha-header-small .col-sm-9 {
width:83%;
}


#masthead .navbar-nav > li > a {
padding-top:1.2rem;	
}


header#masthead.ha-header-small .col-sm-9 .navbar-nav > li > a {
padding-top:0.9rem;
}


#main-wrapper #slide1 {
padding-bottom:4rem;	
}
	
}

@media (min-width:1899px) {

.masthead h1.light {
margin:16rem auto 0.625rem;
width:90%;	
}

div.recent-work p {
font-size:1.4rem;	
}

html {
font-size:19px;
line-height:27px;	
}

h2 {
font-size:2.7rem;	
}

a.ghost-button, p.ghost-button {
width:170px;
padding:0.4rem 10px;	
}

.minimal-button {
width:145px;
font-size:0.9rem;	
}

#services .col-sm-3 h3, #about-process .col-sm-3 h3 {
font-size:1.25rem;	
}
	
}

@media (min-width:1799px) {

div.recent-work p {
font-size:1.3rem;	
}

h2 {
font-size:2.5rem;	
}

a.ghost-button, p.ghost-button {
font-size:1.2rem;
width:160px;	
}

	
}

@media (min-width:1699px) {

.masthead h1.light {
width:90%;	
}

.main-footer h5 {
width:100%;	
}
	
.main-footer p.email-info {
width:90%;	
}

p.about-intro {
width:74%;
margin-left:13%;
font-size:2.5rem;	
}

.navbar-nav > li > a {
padding-top:1.7rem;
font-size:0.9rem;	
}

.page-template-page-about .my-philosophy {
padding:2.5rem 0;	
}

div.my-philosophy .start-your-project {
font-size:0.9rem;
padding:0.7rem 0;
width:220px;	
}

}

@media (min-width:1580px) {

img.poster, .masthead img, #slide1, .masthead-about img.bg {
height:auto;	
}

.masthead-about {
height:47rem;	
}

#slide1 {
padding-bottom:2rem;	
}

p.about-intro {
font-size:2.2rem;	
}

	
}

@media (min-width:1501px) { 

#hexagon {
width:140px;
}

html {
font-size:18px;
line-height:26px;
}

div.recent-work p {
width:80%;
margin-left:10%;
font-size:1.2rem	
}

a.ghost-button, p.ghost-button {
width:140px;
font-size:1rem;	
}

.minimal-button {
width:121px;	
}

div.my-philosophy p {
font-size:1.2rem;
width:90%;
margin-left:5%;	
}

.about-page-info-right .col-sm-6, .the-man-behind-the-laptop .col-sm-6 {
padding:0 3%;	
}

.about-page-info-right .col-sm-6 h2, .the-man-behind-the-laptop .col-sm-6 h2 {
padding:0;	
}


}


@media (max-width:1400px) {
	
#masthead .navbar-nav {
margin:1.2rem -15px;	
}

}


@media (max-width: 1200px) { 

div.recent-work #recent-text h2 {
margin:4.375rem 0 1.875rem 0; 	
}

.sub-services {
padding:0 4% 0 0;
margin:0 0 0 2%;
width:96%;	
}


}


@media (max-width: 1180px) {

img.poster {
float:none;
position:absolute;	
}

body.home .masthead #feature-text {
position:absolute;
top:40px;	
}
	
}


@media (max-width: 1180px) {

.masthead h1.light {
font-size:2.500rem;
line-height:3.125rem;	
}

.home .container-fluid {
padding:0;	
}

.home .container-fluid .row {
margin-left:0;
margin-right:0;	
}

div.form-container .col-sm-5, div.form-container .col-sm-7 {
width:48%;	
}
	
}


@media (max-width: 1120px) {
	
#portfolio-items .row .hover-box h3, .portfolio-items .row .hover-box h3 {
margin:3% 0 0 0;	
}

.portfolio-items .row .col-sm-4 .hover-box h3 {
margin:7% 0 0 0;	
}

.portfolio-items .row ul {
margin:0;	
}
	
}


@media (max-width: 1100px) {
	
body.home .masthead #feature-text {
top:20px;	
}

.masthead h1.light {
font-size:36px;	
}

}


@media(max-width: 1040px) {

div.skills-roundup h2 {
font-size:2.3em;	
}

div.skills-roundup p {
font-size:1rem;	
}

.form-container {
width:100%;	
}

div.form-container .col-sm-7 {
width:52%;
}
	
}


@media(max-width: 1000px) {

.site-header .col-sm-9, header.ha-header-large .col-sm-9 {
width:70%;
float:right;	
}

.site-header .col-sm-3, header.ha-header-large .col-sm-3 {
width:23%;	
}


.masthead-about #arrow {
left:47%;
}

body.single-portfolio div.skills-roundup h2 {
font-size:2rem;
line-height:2.75rem;	
}

body.single-portfolio div.my-philosophy p {
font-size:1rem;	
}

#service-strip h3 {
font-size:2.5rem;	
}

#service-strip p {
font-size:1.1rem;
line-height:1.7rem;
margin:25px 0 60px 5%;
width:90%;	
}

#service-strip ul li h4 {
font-size:22px;	
}

#service-strip ul li p {
font-size:0.9rem;
line-height:1.3rem;	
}

.recent-service-projects .col-sm-6 {
width:60%;
margin-left:20%;	
}

.recent-service-projects .col-sm-6 .col-sm-6 {
width:50%;
margin-left:0;
}

div.form-container .col-sm-5, div.form-container .col-sm-7 { 
float:left;
width:70%;
margin-left:15%;
}

#get-in-touch {
display:none;	
}

#get-in-touch-mobile {
display:block;	
}

.page-template-page-contact .masthead h1.light {
margin:12rem auto 0.625rem;
}

header.ha-header-small .col-sm-9 {
float:right;
width:75%;	
}

header.ha-header-small .col-sm-3 {
width:19%;	
}
	
}


@media (max-width: 960px) {

.masthead h1.light {
width:94%;
font-size:32px;
line-height:48px;
margin:110px auto 10px;	
}

#recent-work-items .col-sm-10 {
margin-left:3%;
width:94%;	
}

.page-template-page-contact .masthead h1.light {
margin:12rem auto 0.625rem;
}

}


@media (max-width: 940px) {

#slide1 {
height:650px;	
}


}

@media (max-width: 900px) {
	
.main-footer h5 {
font-size:24px;	
}

#services .col-sm-3, #about-process .col-sm-3 {
width:50%;	
}

#testimonial p {
font-size:24px;
line-height:32px;
margin:0 0 20px 0;	
}

.site-header .col-sm-9, header.ha-header-large .col-sm-9 {
padding-right:0;	
}

.site-header .col-sm-3, header.ha-header-large .col-sm-3 {
padding-left:0;	
}

div.button-container {
margin:0 0 2.5rem;	
}

.about-page-info-right .col-sm-6, .the-man-behind-the-laptop .col-sm-6 {
width:100%;
padding:0;
}

.about-page-info-right .skills-roundup, .the-man-behind-the-laptop .skills-roundup {
padding:0 2% 3rem 2%;	
}


.about-page-info-right .col-sm-6 img.bg, .the-man-behind-the-laptop .col-sm-6 img.bg {
position:relative;
float:left;
height:auto;
z-index:1;
}


.about-page-info-right .col-sm-6 span.col-sm-6 {
width:50%;	
}

#portfolio-items .row ul {
margin:0.5rem 0 0 0;	
}

#portfolio-items p.ghost-button {
margin:2.4rem auto 0;	
}
	

.single-portfolio .about-page-info-right .col-sm-6, .the-man-behind-the-laptop .col-sm-6 {
width:50%;	
}

.hover-box ul {
display:none;	
}

#portfolio-items .row .hover-box h3, .portfolio-items .row .hover-box h3 {
margin:10% 0 0 0;	
}

.portfolio-items .row .col-sm-4 .hover-box h3 {
margin:30% 0 0 0;
font-size:1.4rem;	
}

a.ghost-button, p.ghost-button {
margin:1.125rem auto 0;	
}

header.ha-header-small .col-sm-3 {
width:22%;	
}
	
}


@media (max-width: 840px) { 

#portfolio-items .row .hover-box h3, .portfolio-items .row .hover-box h3 {
font-size:1.5rem;	
}

#portfolio-items .row ul li, .portfolio-items .row ul li {
font-size:1.1rem;
margin:0 0 0.2rem 0;	
}


#service-arrow-stop .col-sm-3 {
width:100%;	
margin:0 0 20px 0;
}

#service-arrow-stop .col-sm-3 .row {
width:50%;
float:left;	
}

#service-strip ul li {
width:50%;
margin-bottom:30px;	
}

div.form-container .col-sm-5, div.form-container .col-sm-7 {
width:80%;
margin-left:10%;	
}

form {
width:100%;	
}


.navbar .navbar-header .navbar-toggle {
margin-top:0;
margin-bottom:0;	
}


}

@media (max-width: 820px) {

#portfolio-items .row::after, #portfolio-items .row::before, .portfolio-items .row::before, .portfolio-items .row::after, .portfolio-items .row {
display:inline;
}
	
}


@media (max-width: 800px) { 

#hexagon {
width:100px;
margin:30px auto 0 auto;	
}

#recent-work-items .col-sm-10 {
width:98%;
margin-left:1%;	
}

footer .foot-cols {
width:70%;	
}

.main-footer h5 {
width:100%;	
}

footer a.start-your-project {
float:left;
margin:30px 0 0 0;
}

footer .navbar, footer .nav {
display:none;	
}

#slide1 {
height:600px;	
}

.pull-right {
display:none;	
}

.foot-bottom {
margin-bottom:20px;	
}

#portfolio-items .row .col-sm-4, .portfolio-items .row .col-sm-4 {
width:50%;
padding-left:10px;
padding-right:10px;
margin-bottom:8px;	
}

#portfolio-items .row ul, .portfolio-items .row ul {
float:left;	
width:100%;
}

#portfolio-items .row ul li, .portfolio-items .row ul li {
width:100%;
text-align:center;	
}

#portfolio-items p.ghost-button, .portfolio-items p.ghost-button {
display:inline;
float:left;
margin:2rem auto 0 36%;	
}

#portfolio-items p.ghost-button {
margin:2rem auto 0 43.5%;		
}

#service-strip h3 {
font-size:2.2rem;
line-height:2.8rem;	
}

#service-strip p {
width:94%;
margin:25px 0 60px 3%;	
}

.sub-services {
padding:0 5% 0 0;	
}

.recent-service-projects .col-sm-6 {
width:80%;
margin-left:10%;	
}

}


@media (max-width: 780px) {

.masthead h1.light {
font-size:30px;
line-height:46px;
margin:90px auto 10px auto;	
}

#portfolio-items .row .col-sm-4, .portfolio-items .row .col-sm-4 {
float:left;	
}

.single-portfolio .about-page-info-right .col-sm-6 {
width:100%;	
}

.single-portfolio .about-page-info-right .col-sm-6 img {
width:100%;	
}

body.single-portfolio div.skills-roundup h2 {
font-size:1.75rem;
line-height:2.5rem;	
}

}



@media (max-width: 767px) {

#masthead .col-sm-9 {
float:right;
width:100%;	
margin:5px 0 0 0;
position:absolute;
right:0;
padding:0;
}

#masthead .col-sm-3 {
float:left;
width:25%;	
}

#recent-work-items .col-sm-4 {
width:33.33333%;
float:left;	
}
	
#services .col-sm-3, #about-process .col-sm-3 {
float:left;	
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border:none;
background:#222;
margin-top:10px;	
}

#masthead .navbar-nav {
float:left;
width:100%;	
}

.navbar li {
text-align:center;	
}

.masthead-about, .img.bg {
height:600px;	
}

#skills-list .col-sm-4 {
width:33.3333%;
float:left;	
}

#skills-list .col-sm-7 {
width:58.3333%;
float:left;	
}

#skills-list .col-sm-6 {
float:left;
width:50%;	
}

#skills-list .col-sm-8 {
width:66.6667%;
float:left;	
}

#skills-list .col-sm-5 {
width:41.6667%;	
float:left;
}

.about-page-info-right .skills-roundup, .the-man-behind-the-laptop .skills-roundup {
padding:10px 3% 3rem 3%;	
float:left;
}

.page-template-page-about .my-philosophy {
padding:2.5rem 0;	
}

.masthead-about, .img.bg {
height:550px;	
}

.about-page-info-right .skills-roundup, .the-man-behind-the-laptop .skills-roundup {
z-index:1;	
}

.portfolio-items p.ghost-button {
margin:2rem auto 0 35%;	
}

#main-image-single {
margin:60px 0 0;	
}

#service-arrow-stop .col-sm-3, .recent-service-projects .col-sm-6 .col-sm-6 {
float:left;	
}

.page-template-page-contact #about-intro {
position:relative;	
}

#social-accounts-contact li {
width:25%;
float:left;	
}

body.single-portfolio div.skills-roundup p {
font-size:1.1rem;	
}
	
}


@media (max-width: 740px) {

#firstImage img {
display:none;	
}

#firstImage img.wp-post-image {
display:block;	
}

#firstImage {
width:100%;	
padding:0 10px 0 10px;
margin-top:0;
}

#firstImagerow {
width:100%;	
float:left;
}

.portfolio-items {
display:inline;	
}


#portfolio-items .row ul {
margin:1rem 0 0;	
}

#portfolio-items {
width:50%;
float:left;	
}

#portfolio-items .row, .portfolio-items .row {
display:inline;
margin:0.938rem 0 0;
}

#portfolio-items .row ul, .portfolio-items .row ul {
margin:1.25rem 0 0;	
}

#portfolio-items .row .hover-box h3, .portfolio-items .row .hover-box h3 {
margin:30% 0 0 0;
font-size:2rem;	
}

#portfolio-items .row::after, #portfolio-items .row::before, .portfolio-items .row::before, .portfolio-items .row::after, .portfolio-items .row {
display:block;	
}

#firstImage {
margin-top:0.938rem;	
}

#portfolio-items .row .col-sm-4, .portfolio-items .row .col-sm-4, #portfolio-items {
width:70%;
margin-left:15%;	
}
	

#portfolio-items p.ghost-button, .portfolio-items p.ghost-button {
margin:2rem auto 0 auto;
float:none;
display:block;	
}


#masthead .navbar-nav {
margin:15px 0;	
}


}


@media (max-width: 720px) {
	
.masthead h1.light {
font-size:28px;
line-height:44px;
margin:70px auto 10px auto;	
}

div.recent-work p {
font-size:16px;	
}

#recent-work-items .col-sm-4 {
padding:0;	
}

#slide1 {
height:500px;	
}


p.copyright {
width:100%;
text-align:center;
line-height:1.5rem;	
}

p.copyright a {
color:#6fd4b9;	
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
margin-top:8px;	
}

}


@media (max-width: 700px) {

.navbar-nav > li > a {
padding-top:12px;
padding-bottom:12px;
font-size:1.2rem;	
}

.masthead-services {
height:500px;	
}

.masthead-services #arrow {
margin:2rem auto 0;	
}
	
}



@media (max-width: 660px) { 

.masthead h1.light {
font-size:26px;
line-height:38px;	
}

#hexagon {
width:80px;
margin:20px auto 0 auto;	
}


}


@media (max-width: 640px) { 

.masthead h1.light {
font-size:24px;
line-height:38px;
margin:70px auto 10px auto;	
}

#service-strip h3 {
font-size:1.9rem;
line-height:2.7rem;	
}

#service-arrow-stop .col-sm-3 {
display:none;	
}

#service-content-container {
margin-top:0;	
}

#service-strip {
margin:0;	
}

#service-strip ul li {
width:100%;	
}

}


@media (max-width: 600px) {

#masthead .col-sm-3 {
width:30%;	
}

div.recent-work #recent-text h2 {
font-size:22px;
margin:50px 0 30px 0;	
}

div.recent-work p {
padding:0 4% 0 4%;	
}

#recent-text {
margin:0 0 10px 0;	
}

#recent-work-items .col-sm-4 {
padding:inherit;
float:none;
width:90%;
margin:0 0 30px 5%;	
}

img.bg {
height:570px;	
}

#portfolio-items {
width:90%;	
margin-left:5%;
}



#portfolio-items .row .col-sm-4, .portfolio-items .row .col-sm-4 {
width:90%;	
margin-left:5%;
}

.portfolio-items .row .col-sm-4 .hover-box h3 {
margin:23% 0 0 0;	
}

body.single-portfolio div.skills-roundup h2 {
font-size:1.5rem;
line-height:2rem;	
}
	
}

@media (max-width: 580px) {

.masthead h1.light {
width:95%;	
}

#mobile-start-project {
display:block;	
z-index:999;
float:none;
margin:20px auto 0 auto;
position:relative;
}

#hexagon {
display:none;	
}

p.about-intro {
font-size:1.7rem;	
margin:8rem 0 0.938rem;
}

}

@media (max-width: 540px) {
	
.masthead h1.light {
font-size:24px;
line-height:36px;
width:90%;	
margin:100px auto 40px;
}

#masthead .col-sm-3 {
width:38%;	
}

#services .col-sm-3 {
width:100%;	
}

#portfolio-items p.ghost-button, .portfolio-items p.ghost-button {
margin:2rem auto 0 39%;	
}

div.text-header h2 {
font-size:1.75rem;	
}

#portfolio-items, .portfolio-items, body.page-template-page-work .container-fluid {
padding:0 2% 0 2%;	
}

#main-wrapper {
padding:0;	
}

#firstImage {
padding:0;	
}

.portfolio-items .row .col-sm-4 .hover-box h3, #portfolio-items .row .hover-box h3, .portfolio-items .row .hover-box h3 {
font-size:1.5rem;	
}

div.form-container .col-sm-5, div.form-container .col-sm-7 {
width:100%;
margin-left:0;	
}


}

@media (max-width: 500px) {

#slide1 {
height:400px;	
}

#services h2 {
font-size:24px;	
}

footer .foot-cols {
width:100%;	
}

.masthead-about #arrow {
left:45%;	
}

#portfolio-meta a.start-your-project {
clear:both;
margin:0.625rem 0 0 26%;	
}

.masthead-services {
height:450px;	
}

#service-strip h3 {
width:96%;
margin-left:3%;	
font-size:1.7rem;
line-height:2.5rem;
}

#service-strip p {
font-size:1rem;
line-height:1.5rem;	
}

#service-strip h4 {
width:96%;
margin:4rem 0 1rem 2%;	
}

.recent-service-projects .col-sm-6 {
width:90%;
margin-left:5%;	
}

.recent-service-projects .col-sm-6 .col-sm-6 {
padding:0 1.5% 0 1.5%;	
}

.sub-services {
padding:0;	
}

#service-strip ul {
float:left;	
padding:0;
}

}

@media (max-width: 400px) {

#masthead .col-sm-3 {
width:50%;	
}

img.bg {
height:500px;	
}

#portfolio-items p.ghost-button, .portfolio-items p.ghost-button {
margin:2rem auto 0 37%;	
}

#portfolio-items .row ul, .portfolio-items .row ul {
display:none;	
}

#portfolio-meta a.start-your-project {
margin:0.625rem 0 0 23%;	
}

body.page-template-page-services #about-intro h1.light {
font-size:22px;
line-height:32px;	
}

#service-strip h3 {
font-size:1.6rem;
line-height:2.2rem;	
}

#service-strip p {
width:98%;
margin-left:1%;
font-size:0.9rem;
line-height:1.4rem;	
}

.wpcf7-list-item {
width:100%;	
}
	
}

@media (max-width: 340px) {

#masthead .col-sm-3 {
width:62%;	
}

p.about-intro {
font-size:1.4rem;
margin:6rem 0 1rem;	
}

.masthead-about #arrow {
left:41%;	
}

img.bg {
height:460px;	
}

div.text-header h2 {
margin:1.75rem 0 0;	
}

#portfolio-items p.ghost-button, .portfolio-items p.ghost-button {
margin:2rem auto 0 33%;	
}

#portfolio-items .row .hover-box h3, .portfolio-items .row .hover-box h3 {
margin:30% 0 0 0;	
}

#portfolio-meta a.start-your-project {
margin:0.625rem 0 0 12%;	
}
	
}